header,h1{
	text-align: center;
	color: white;
}

body{
	background-color:#2589bd;
	margin: 30px;
}

button{
	width: auto;
	height: 40px;
	border-radius: 5px;
	margin: 5px;
}

button:hover{
	background-color:grey ;

}

button:active{
	color:white ;
}

table,th,td{
border:2px solid #2589bd;
border-collapse: collapse;
margin:20px;
color:white;
padding:10px;
background-color:purple;
}

th{
	color:yellow;
}

